.container {
    margin: 3.25rem auto 0;

    a{
        display: block;

        & + a {
            margin-top: 3.25rem;
        }

        strong {
            font-size: 1.75rem;
            color: var(--gray-50);
        }

        p {
            padding-top: .75rem;
            font-size: 1.125rem;
            color: var(--gray-150);
        }

        .infos {
            margin-top: 1.5rem;
            font-size: .875rem; 
            color: var(--gray-250);
            display: flex;
            align-items: center;

            svg {
                width: 20px;
                height: 20px;
                margin-right: 0.5rem;
            }

            .author {
                margin-left: 1.25rem;
            }
        }

        &:hover strong {
            color: var(--pink-800);    
        }
    }

    button {
        background: none;
        border: 0;
        color: var(--pink-800);
        margin-top: 3.75rem;
    }
}
